.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}

.box_wrapper {
  width: 100%;
  display: flex;
}

.under_stroke {
  background-color: #6b6b6b;
  color: #6b6b6b;
  width: 120px;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
  margin-top: -1.7rem;
  margin-bottom: 3rem;
}
